
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ebc6c6;
  text-align: center;
  transition: 0.3s;
}

body.dark {
  background: #121212;
  color: white;
}

h1 {
  margin: 20px 0;
}

#darkModeBtn {
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 10px;
}


.filters {
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s;
}

.filters button.active {
  background: orange;
}

.filters button:hover {
  background: rgb(235, 118, 118);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  opacity: 1;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.4s;
}

.gallery img.hide {
  opacity: 0;
  pointer-events: none;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.controls button {
  padding: 10px 20px;
  margin: 5px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
