body {
  background: rgb(108, 69, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
 
}

.calculator {
  background: #291d1d;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  width: 300px;
}

#display {
    
    color: white;
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  border: none;
  border-radius: 8px;
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #e0446e;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #666;
}

.equal {
  background: #ff9500;
  grid-row: span 2;
}

.equal:hover {
  background: #241805;
}

.zero {
  grid-column: span 2;
}

button:active {
  transform: scale(0.95);
}
